<%- include('partial/header') %>
<link rel="stylesheet" href="stylesheets/about.css">
<%- include('partial/nav') %>
  <div id="main">
  <img src="https://github.com/tech2etc/Build-and-Deploy-Ecommerce-Website/blob/main/img/about/banner.png?raw=true" alt="">
  <div id="tag">
    <h1>#KnowUs</h1>
    <p>Lorem ipsum dolor sit amet,consecterur</p>
  </div>  
</div>

<div id="center">
    <div id="child">
        <img src="https://github.com/tech2etc/Build-and-Deploy-Ecommerce-Website/blob/main/img/about/a1.png?raw=true" alt="">
    </div>
    <div id="child1">

        <h1>Who We Are?</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Beatae ex eos perferendis sint ea cumque est animi libero maxime amet, neque aliquam ut, aperiam fugiat eius a labore voluptas maiores.
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Odit eius quidem consectetur impedit deleniti incidunt libero, modi eligendi magni ad. Molestiae, voluptas laborum in ex quisquam iusto repellat velit odio!
        </p>
    </div>
</div>
<div id="overlay">
    <video src="https://player.vimeo.com/external/503435845.hd.mp4?s=d698afa485db40d65d7f5ec3c9198c94316f7da2&profile_id=174&oauth2_token_id=57447761" autoplay="" loop="" muted=""></video>
</div>
<div id="footer">
    <div id="foot">
        <img src="https://github.com/tech2etc/Build-and-Deploy-Ecommerce-Website/blob/main/img/logo.png?raw=true" alt="">
        <h3>Contact</h3>
        <p>Address:<span>562 Wellington Road-street 32 san Francisco</span></p>
        <p>Phone:<span>+01 2222 365/(+91)0123456789</span></p>
        <p>Hours:<span>10:00-18:00.Mon-sat</span></p>
        <div id="mainline">
        <h4>Follow Us</h4>
        <i class="fa-brands fa-facebook-f"></i>
        <i class="fa-brands fa-twitter"></i>
        <i class="fa-brands fa-instagram"></i>
        <i class="fa-brands fa-telegram"></i>
        <i class="fa-brands fa-youtube"></i>
        </div>
    </div>
    <div id="foot2">
        <h3>About</h3>
        <p>About us</p>
        <p>Delivery information</p>
        <p>Privacy Policy</p>
        <p>Terms & Conditions</p>
        <p>Contact Us</p>
    </div>
    <div id="foot2">
        <h3>My Account</h3>
        <p>Sign in</p>
        <p>View Cart</p>
        <p>My wishlist</p>
        <p>Track My Order</p>
        <p>Help</p>
    </div>
    <div id="foot3">
        <h3>Install App</h3>
        <p>from App Store or Google play</p>
        <div class="img2">
            <div id="img3">
            <img src="https://github.com/tech2etc/Build-and-Deploy-Ecommerce-Website/blob/main/img/pay/app.jpg?raw=true" alt="">
            <img src="https://github.com/tech2etc/Build-and-Deploy-Ecommerce-Website/blob/main/img/pay/play.jpg?raw=true" alt="">
              </div>
              <div id="harry">
            <p>Secured payment Gateway</p>
            <img src="https://github.com/tech2etc/Build-and-Deploy-Ecommerce-Website/blob/main/img/pay/pay.png?raw=true" alt="" id="tag">
        </div>
        </div>
    </div>
</div>
<%- include('partial/footer') %>