<%- include('partial/header') %>
<link rel="stylesheet" href="stylesheets/blog.css">
<%- include('partial/nav') %>
<div id="main">
    <img src="https://github.com/tech2etc/Build-and-Deploy-Ecommerce-Website/blob/main/img/banner/b19.jpg?raw=true" alt="">
    <div id="read">
        <h2>#readmore</h2>
        <p>Read all case studies about our products</p>
    </div>
</div>

<div id="container">
    <div class="slide">
        <img src="https://github.com/tech2etc/Build-and-Deploy-Ecommerce-Website/blob/main/img/blog/b1.jpg?raw=true" alt="">
    </div>
    <div class="slide2">
        <h3>The Cotton-jersey Zip-Up Hoodie</h3>
        <p>Kickstarter man braid godard coloring book.Raclette<br>waistcoat selfies yr walf chartreuse irony<br>godard</p>
        <h2>Continue Reading</h2>
    </div>
</div>
<!-- next -->
<div id="container2">
    <div class="slide">
        <img src="https://github.com/tech2etc/Build-and-Deploy-Ecommerce-Website/blob/main/img/blog/b2.jpg?raw=true" alt="">
    </div>
    <div class="slide2">
        <h3>How to Style a Quiff</h3>
        <p>Kickstarter man braid godard coloring book.Raclette<br>waistcoat selfies yr walf chartreuse irony<br>godard</p>
        <h2>Continue Reading</h2>
    </div>
</div>

<div id="container3">
    <div class="slide">
        <img src="https://github.com/tech2etc/Build-and-Deploy-Ecommerce-Website/blob/main/img/blog/b3.jpg?raw=true" alt="">
    </div>
    <div class="slide2">
        <h3>Must-Have Skater Girl Items</h3>
        <p>Kickstarter man braid godard coloring book.Raclette<br>waistcoat selfies yr walf chartreuse irony<br>godard</p>
        <h2>Continue Reading</h2>
    </div>
</div>
<!--  -->
<div id="container4">
    <div class="slide">
        <img src="https://github.com/tech2etc/Build-and-Deploy-Ecommerce-Website/blob/main/img/blog/b4.jpg?raw=true" alt="">
    </div>
    <div class="slide2">
        <h3>Runway-Inspired Trends</h3>
        <p>Kickstarter man braid godard coloring book.Raclette<br>waistcoat selfies yr walf chartreuse irony<br>godard</p>
        <h2>Continue Reading</h2>
    </div>
</div>
<!--  -->
<div id="container5">
    <div class="slide">
        <img src="https://github.com/tech2etc/Build-and-Deploy-Ecommerce-Website/blob/main/img/blog/b6.jpg?raw=true" alt="">
    </div>
    <div class="slide2">
        <h3>AW20 Menswear Trends</h3>
        <p>Kickstarter man braid godard coloring book.Raclette<br>waistcoat selfies yr walf chartreuse irony<br>godard</p>
        <h2>Continue Reading</h2>
    </div>
</div>

<div id="footer">
    <div id="foot">
        <img src="https://github.com/tech2etc/Build-and-Deploy-Ecommerce-Website/blob/main/img/logo.png?raw=true" alt="">
        <h3>Contact</h3>
        <p>Address:<span>562 Wellington Road-street 32 san Francisco</span></p>
        <p>Phone:<span>+01 2222 365/(+91)0123456789</span></p>
        <p>Hours:<span>10:00-18:00.Mon-sat</span></p>
        <div id="mainline">
        <h4>Follow Us</h4>
        <i class="fa-brands fa-facebook-f"></i>
        <i class="fa-brands fa-twitter"></i>
        <i class="fa-brands fa-instagram"></i>
        <i class="fa-brands fa-telegram"></i>
        <i class="fa-brands fa-youtube"></i>
        </div>
    </div>
    <div id="foot2">
        <h3>About</h3>
        <p>About us</p>
        <p>Delivery information</p>
        <p>Privacy Policy</p>
        <p>Terms & Conditions</p>
        <p>Contact Us</p>
    </div>
    <div id="foot2">
        <h3>My Account</h3>
        <p>Sign in</p>
        <p>View Cart</p>
        <p>My wishlist</p>
        <p>Track My Order</p>
        <p>Help</p>
    </div>
    <div id="foot3">
        <h3>Install App</h3>
        <p>from App Store or Google play</p>
        <div class="img2">
            <div id="img3">
            <img src="https://github.com/tech2etc/Build-and-Deploy-Ecommerce-Website/blob/main/img/pay/app.jpg?raw=true" alt="">
            <img src="https://github.com/tech2etc/Build-and-Deploy-Ecommerce-Website/blob/main/img/pay/play.jpg?raw=true" alt="">
              </div>
            <p>Secured payment Gateway</p>
            <img src="https://github.com/tech2etc/Build-and-Deploy-Ecommerce-Website/blob/main/img/pay/pay.png?raw=true" alt="" id="tag">
        </div>
    </div>
</div>
<%- include('partial/footer') %>