<%- include(`partial/header`) %>
<%- include(`partial/nav`) %>
<link rel="stylesheet" href="stylesheets/image.css">

<div id="main">
<div id="left">
    
    <div id="image">
        <img src="https://github.com/tech2etc/Build-and-Deploy-Ecommerce-Website/blob/main/img/products/f1.jpg?raw=true" alt="" id="img1">
    </div>
    <div id="slider">
        <div class="child">
            <img src="https://github.com/tech2etc/Build-and-Deploy-Ecommerce-Website/blob/main/img/products/f1.jpg?raw=true" alt="" id="img2">
        </div>
        <div class="child">
            <img src="https://github.com/tech2etc/Build-and-Deploy-Ecommerce-Website/blob/main/img/products/f2.jpg?raw=true" alt="" id="img3">
        </div>
        <div class="child">
            <img src="https://github.com/tech2etc/Build-and-Deploy-Ecommerce-Website/blob/main/img/products/f3.jpg?raw=true" alt="" id="img4">
        </div>
        <div class="child">
            <img src="https://github.com/tech2etc/Build-and-Deploy-Ecommerce-Website/blob/main/img/products/f4.jpg?raw=true" alt="" id="img5">
        </div>
    </div>


</div>
<div id="right">
    <h3>Home/T-shirt</h3>
    <h2>Men's Fashion T-shirt</h2>
    <h4>$139.00</h4>
    <select name="" id="">
        <option value="Select size">Select size</option>
        <option value="XL">XL</option>
        <option value="XXL">XXL</option>
        <option value="small">Small</option>
        <option value="Large">Large</option>
    </select><br>
    <input type="number">
    <button>Add To Cart</button><br>
    <h1>Product Details</h1>
    <span>The Gildon Ultra Cotton T-shirt js mode from a substancial 6.0 0z per<br>sq. yd. fabric constructed from 100% cotton this classic fit preshunk<br>jersey knit provides unmatched comfort with each-wear featuring a<br>taped neck and shoulder and a seamless double-needle collar and<br>available in a range of colors it offers it all in the ultimate head<br>turning package</span>
</div>
</div>
<!-- page1 -->
<div id="page1">
    <div class="header">
        <h1>Featured Products</h1>
        <p>Summer Collection New Morden Design</p>
    </div>
    <!-- page -->
    <div id="muskan">
        <div class="child1">
            <img src="https://github.com/tech2etc/Build-and-Deploy-Ecommerce-Website/blob/main/img/products/f1.jpg?raw=true" alt="">
           <p>adidas</p>
           <h4>Cartoon Astronut T-shirts</h4>
           <i class="fa-solid fa-star"></i>
           <i class="fa-solid fa-star"></i>
           <i class="fa-solid fa-star"></i>
           <i class="fa-solid fa-star"></i>
           <i class="fa-solid fa-star"></i>
           <div class="icon">
            <p>$78</p>
            <i class="fa-solid fa-cart-shopping"></i>
           </div>
        </div>
        <!-- new -->
        <div class="child1">
            <img src="https://github.com/tech2etc/Build-and-Deploy-Ecommerce-Website/blob/main/img/products/f2.jpg?raw=true" alt="">
           <p>adidas</p>
           <h4>Cartoon Astronut T-shirts</h4>
           <i class="fa-solid fa-star"></i>
           <i class="fa-solid fa-star"></i>
           <i class="fa-solid fa-star"></i>
           <i class="fa-solid fa-star"></i>
           <i class="fa-solid fa-star"></i>
           <div class="icon">
            <p>$78</p>
            <i class="fa-solid fa-cart-shopping"></i>
           </div>
        </div>
        <!--  -->
        <div class="child1">
            <img src="https://github.com/tech2etc/Build-and-Deploy-Ecommerce-Website/blob/main/img/products/f3.jpg?raw=true" alt="">
           <p>adidas</p>
           <h4>Cartoon Astronut T-shirts</h4>
           <i class="fa-solid fa-star"></i>
           <i class="fa-solid fa-star"></i>
           <i class="fa-solid fa-star"></i>
           <i class="fa-solid fa-star"></i>
           <i class="fa-solid fa-star"></i>
           <div class="icon">
            <p>$78</p>
            <i class="fa-solid fa-cart-shopping"></i>
           </div>
        </div>
        <!--  -->
        <div class="child1">
            <img src="https://github.com/tech2etc/Build-and-Deploy-Ecommerce-Website/blob/main/img/products/f4.jpg?raw=true" alt="">
           <p>adidas</p>
           <h4>Cartoon Astronut T-shirts</h4>
           <i class="fa-solid fa-star"></i>
           <i class="fa-solid fa-star"></i>
           <i class="fa-solid fa-star"></i>
           <i class="fa-solid fa-star"></i>
           <i class="fa-solid fa-star"></i>
           <div class="icon">
            <p>$78</p>
            <i class="fa-solid fa-cart-shopping"></i>
           </div>
        </div>
        <!--  -->
    </div>

<!--  -->
<div id="footer">
    <div id="foot">
        <img src="https://github.com/tech2etc/Build-and-Deploy-Ecommerce-Website/blob/main/img/logo.png?raw=true" alt="">
        <h3>Contact</h3>
        <p>Address:<span>562 Wellington Road-street 32 san Francisco</span></p>
        <p>Phone:<span>+01 2222 365/(+91)0123456789</span></p>
        <p>Hours:<span>10:00-18:00.Mon-sat</span></p>
        <div id="mainline">
        <h4>Follow Us</h4>
        <i class="fa-brands fa-facebook-f"></i>
        <i class="fa-brands fa-twitter"></i>
        <i class="fa-brands fa-instagram"></i>
        <i class="fa-brands fa-telegram"></i>
        <i class="fa-brands fa-youtube"></i>
        </div>
    </div>
    <div id="foot2">
        <h3>About</h3>
        <p>About us</p>
        <p>Delivery information</p>
        <p>Privacy Policy</p>
        <p>Terms & Conditions</p>
        <p>Contact Us</p>
    </div>
    <div id="foot2">
        <h3>My Account</h3>
        <p>Sign in</p>
        <p>View Cart</p>
        <p>My wishlist</p>
        <p>Track My Order</p>
        <p>Help</p>
    </div>
    <div id="foot3">
        <h3>Install App</h3>
        <p>from App Store or Google play</p>
        <div class="img2">
            <div id="img3">
            <img src="https://github.com/tech2etc/Build-and-Deploy-Ecommerce-Website/blob/main/img/pay/app.jpg?raw=true" alt="">
            <img src="https://github.com/tech2etc/Build-and-Deploy-Ecommerce-Website/blob/main/img/pay/play.jpg?raw=true" alt="">
              </div>
            <p>Secured payment Gateway</p>
            <img src="https://github.com/tech2etc/Build-and-Deploy-Ecommerce-Website/blob/main/img/pay/pay.png?raw=true" alt="" id="tag">
        </div>
    </div>
</div>
<!--  -->
<script src="javascripts/script1.js"></script>
<%- include(`partial/footer`) %>