<%- include('partial/header') %>
<link rel="stylesheet" href="stylesheets/style.css">
<%- include('partial/nav') %>

<div id="container">
<div id="left">
    <p>Trade-in-offer</p>
    <h2>Super value deals<br><span>On all products</span></h2>
    <h4>save more with coupans & up to 70% off</h4>
    <button>shop now</button>
</div>
<div id="right">
    <img src="https://github.com/tech2etc/Build-and-Deploy-Ecommerce-Website/blob/main/img/hero4.png?raw=true" alt="">
</div>
</div>
<div id="main">
    <div id="slide">
        <img src="https://github.com/tech2etc/Build-and-Deploy-Ecommerce-Website/blob/main/img/features/f1.png?raw=true" alt="">
        <button>Free shipping</button>
    </div>
    <div id="slide">
        <img src="https://github.com/tech2etc/Build-and-Deploy-Ecommerce-Website/blob/main/img/features/f2.png?raw=true" alt="">
        <button>Online Order</button>
    </div>
    <div id="slide">
        <img src="https://github.com/tech2etc/Build-and-Deploy-Ecommerce-Website/blob/main/img/features/f3.png?raw=true" alt="">
        <button>Save Money</button>
    </div>
    <div id="slide">
        <img src="https://github.com/tech2etc/Build-and-Deploy-Ecommerce-Website/blob/main/img/features/f4.png?raw=true" alt="">
        <button>Promotions</button>
    </div>
    <div id="slide">
        <img src="https://github.com/tech2etc/Build-and-Deploy-Ecommerce-Website/blob/main/img/features/f5.png?raw=true" alt="">
        <button>Happy Sell</button>
    </div>
    <div id="slide">
        <img src="https://github.com/tech2etc/Build-and-Deploy-Ecommerce-Website/blob/main/img/features/f6.png?raw=true" alt="">
        <button>F24/7 Support</button>
    </div>
</div>
<div id="page1">
    <div class="header">
        <h1>Featured Products</h1>
        <p>Summer Collection New Morden Design</p>
    </div>
    <!-- page -->
    <div id="muskan">
        <div class="child1">
            <img src="https://github.com/tech2etc/Build-and-Deploy-Ecommerce-Website/blob/main/img/products/f1.jpg?raw=true" alt="">
           <p>adidas</p>
           <h4>Cartoon Astronut T-shirts</h4>
           <i class="fa-solid fa-star"></i>
           <i class="fa-solid fa-star"></i>
           <i class="fa-solid fa-star"></i>
           <i class="fa-solid fa-star"></i>
           <i class="fa-solid fa-star"></i>
           <div class="icon">
            <p>$78</p>
            <i class="fa-solid fa-cart-shopping"></i>
           </div>
        </div>
        <!-- new -->
        <div class="child1">
            <img src="https://github.com/tech2etc/Build-and-Deploy-Ecommerce-Website/blob/main/img/products/f2.jpg?raw=true" alt="">
           <p>adidas</p>
           <h4>Cartoon Astronut T-shirts</h4>
           <i class="fa-solid fa-star"></i>
           <i class="fa-solid fa-star"></i>
           <i class="fa-solid fa-star"></i>
           <i class="fa-solid fa-star"></i>
           <i class="fa-solid fa-star"></i>
           <div class="icon">
            <p>$78</p>
            <i class="fa-solid fa-cart-shopping"></i>
           </div>
        </div>
        <!--  -->
        <div class="child1">
            <img src="https://github.com/tech2etc/Build-and-Deploy-Ecommerce-Website/blob/main/img/products/f3.jpg?raw=true" alt="">
           <p>adidas</p>
           <h4>Cartoon Astronut T-shirts</h4>
           <i class="fa-solid fa-star"></i>
           <i class="fa-solid fa-star"></i>
           <i class="fa-solid fa-star"></i>
           <i class="fa-solid fa-star"></i>
           <i class="fa-solid fa-star"></i>
           <div class="icon">
            <p>$78</p>
            <i class="fa-solid fa-cart-shopping"></i>
           </div>
        </div>
        <!--  -->
        <div class="child1">
            <img src="https://github.com/tech2etc/Build-and-Deploy-Ecommerce-Website/blob/main/img/products/f4.jpg?raw=true" alt="">
           <p>adidas</p>
           <h4>Cartoon Astronut T-shirts</h4>
           <i class="fa-solid fa-star"></i>
           <i class="fa-solid fa-star"></i>
           <i class="fa-solid fa-star"></i>
           <i class="fa-solid fa-star"></i>
           <i class="fa-solid fa-star"></i>
           <div class="icon">
            <p>$78</p>
            <i class="fa-solid fa-cart-shopping"></i>
           </div>
        </div>
        <!--  -->
    </div>
    <!-- new -->
    <div id="munir">
        <div class="child1">
            <img src="https://github.com/tech2etc/Build-and-Deploy-Ecommerce-Website/blob/main/img/products/f5.jpg?raw=true" alt="">
           <p>adidas</p>
           <h4>Cartoon Astronut T-shirts</h4>
           <i class="fa-solid fa-star"></i>
           <i class="fa-solid fa-star"></i>
           <i class="fa-solid fa-star"></i>
           <i class="fa-solid fa-star"></i>
           <i class="fa-solid fa-star"></i>
           <div class="icon">
            <p>$78</p>
            <i class="fa-solid fa-cart-shopping"></i>
           </div>
        </div>
        <!--  -->
        <div class="child1">
            <img src="https://github.com/tech2etc/Build-and-Deploy-Ecommerce-Website/blob/main/img/products/f6.jpg?raw=true" alt="">
           <p>adidas</p>
           <h4>Cartoon Astronut T-shirts</h4>
           <i class="fa-solid fa-star"></i>
           <i class="fa-solid fa-star"></i>
           <i class="fa-solid fa-star"></i>
           <i class="fa-solid fa-star"></i>
           <i class="fa-solid fa-star"></i>
           <div class="icon">
            <p>$78</p>
            <i class="fa-solid fa-cart-shopping"></i>
           </div>
        </div>
        <!--  -->
        <div class="child1">
            <img src="https://github.com/tech2etc/Build-and-Deploy-Ecommerce-Website/blob/main/img/products/f7.jpg?raw=true" alt="">
           <p>adidas</p>
           <h4>Cartoon Astronut T-shirts</h4>
           <i class="fa-solid fa-star"></i>
           <i class="fa-solid fa-star"></i>
           <i class="fa-solid fa-star"></i>
           <i class="fa-solid fa-star"></i>
           <i class="fa-solid fa-star"></i>
           <div class="icon">
            <p>$78</p>
            <i class="fa-solid fa-cart-shopping"></i>
           </div>
        </div>
        <!--  -->
        <div class="child1" >
            <img src="https://github.com/tech2etc/Build-and-Deploy-Ecommerce-Website/blob/main/img/products/f8.jpg?raw=true" alt=""> 
           <p>adidas</p>
           <h4>Cartoon Astronut T-shirts</h4>
           <i class="fa-solid fa-star"></i>
           <i class="fa-solid fa-star"></i>
           <i class="fa-solid fa-star"></i>
           <i class="fa-solid fa-star"></i>
           <i class="fa-solid fa-star"></i>
           <div class="icon">
            <p>$78</p>
            <i class="fa-solid fa-cart-shopping"></i>
           </div>
        </div>
    </div>
</div>
<!-- new -->
<div id="main2">
    <img src="https://github.com/tech2etc/Build-and-Deploy-Ecommerce-Website/blob/main/img/banner/b2.jpg?raw=true" alt="">
    <div id="overlay">
    <h4>Repair services</h4>
    <h1>Up to 70% Off-All t-shirts & Accessories</h1>
    <button><a href="/ExploreMore">Explore More</a></button>
    </div>
</div>
<div id="page2">
    <div class="header">
        <h1>New Arrivals</h1>
        <p>Summer Collection New Morden Design</p>
    </div>
    <div id="muskan">
        <div class="child1">
            <img src="https://github.com/tech2etc/Build-and-Deploy-Ecommerce-Website/blob/main/img/products/n1.jpg?raw=true" alt="">
           <p>adidas</p>
           <h4>Cartoon Astronut T-shirts</h4>
           <i class="fa-solid fa-star"></i>
           <i class="fa-solid fa-star"></i>
           <i class="fa-solid fa-star"></i>
           <i class="fa-solid fa-star"></i>
           <i class="fa-solid fa-star"></i>
           <div class="icon">
            <p>$78</p>
            <i class="fa-solid fa-cart-shopping"></i>
           </div>
        </div>
        <!-- new -->
        <div class="child1">
            <img src="https://github.com/tech2etc/Build-and-Deploy-Ecommerce-Website/blob/main/img/products/n2.jpg?raw=true" alt="">
           <p>adidas</p>
           <h4>Cartoon Astronut T-shirts</h4>
           <i class="fa-solid fa-star"></i>
           <i class="fa-solid fa-star"></i>
           <i class="fa-solid fa-star"></i>
           <i class="fa-solid fa-star"></i>
           <i class="fa-solid fa-star"></i>
           <div class="icon">
            <p>$78</p>
            <i class="fa-solid fa-cart-shopping"></i>
           </div>
        </div>
        <!--  -->
        <div class="child1">
            <img src="https://github.com/tech2etc/Build-and-Deploy-Ecommerce-Website/blob/main/img/products/n3.jpg?raw=true" alt="">
           <p>adidas</p>
           <h4>Cartoon Astronut T-shirts</h4>
           <i class="fa-solid fa-star"></i>
           <i class="fa-solid fa-star"></i>
           <i class="fa-solid fa-star"></i>
           <i class="fa-solid fa-star"></i>
           <i class="fa-solid fa-star"></i>
           <div class="icon">
            <p>$78</p>
            <i class="fa-solid fa-cart-shopping"></i>
           </div>
        </div>
        <!--  -->
        <div class="child1">
            <img src="https://github.com/tech2etc/Build-and-Deploy-Ecommerce-Website/blob/main/img/products/n4.jpg?raw=true" alt="">
           <p>adidas</p>
           <h4>Cartoon Astronut T-shirts</h4>
           <i class="fa-solid fa-star"></i>
           <i class="fa-solid fa-star"></i>
           <i class="fa-solid fa-star"></i>
           <i class="fa-solid fa-star"></i>
           <i class="fa-solid fa-star"></i>
           <div class="icon">
            <p>$78</p>
            <i class="fa-solid fa-cart-shopping"></i>
           </div>
        </div>
        <!--  -->
    </div>
    <!-- new -->
    <div id="munir">
        
        <a href="/image">
        <div class="child1">
            
                <img src="https://github.com/tech2etc/Build-and-Deploy-Ecommerce-Website/blob/main/img/products/n5.jpg?raw=true" alt="">
            
           <p>adidas</p>
           <h4>Cartoon Astronut T-shirts</h4>
           <i class="fa-solid fa-star"></i>
           <i class="fa-solid fa-star"></i>
           <i class="fa-solid fa-star"></i>
           <i class="fa-solid fa-star"></i>
           <i class="fa-solid fa-star"></i>
           <div class="icon">
            <p>$78</p>
            <i class="fa-solid fa-cart-shopping"></i>
           </div>
        </div>
    </a>
        <!--  -->
        <div class="child1">
            <img src="https://github.com/tech2etc/Build-and-Deploy-Ecommerce-Website/blob/main/img/products/n6.jpg?raw=true" alt="">
           <p>adidas</p>
           <h4>Cartoon Astronut T-shirts</h4>
           <i class="fa-solid fa-star"></i>
           <i class="fa-solid fa-star"></i>
           <i class="fa-solid fa-star"></i>
           <i class="fa-solid fa-star"></i>
           <i class="fa-solid fa-star"></i>
           <div class="icon">
            <p>$78</p>
            <i class="fa-solid fa-cart-shopping"></i>
           </div>
        </div>
        <!--  -->
        <div class="child1">
            <img src="https://github.com/tech2etc/Build-and-Deploy-Ecommerce-Website/blob/main/img/products/n7.jpg?raw=true" alt="">
           <p>adidas</p>
           <h4>Cartoon Astronut T-shirts</h4>
           <i class="fa-solid fa-star"></i>
           <i class="fa-solid fa-star"></i>
           <i class="fa-solid fa-star"></i>
           <i class="fa-solid fa-star"></i>
           <i class="fa-solid fa-star"></i>
           <div class="icon">
            <p>$78</p>
            <i class="fa-solid fa-cart-shopping"></i>
           </div>
        </div>
        <!--  -->
        <div class="child1" >
            <img src="https://github.com/tech2etc/Build-and-Deploy-Ecommerce-Website/blob/main/img/products/n8.jpg?raw=true" alt="">
           <p>adidas</p>
           <h4>Cartoon Astronut T-shirts</h4>
           <i class="fa-solid fa-star"></i>
           <i class="fa-solid fa-star"></i>
           <i class="fa-solid fa-star"></i>
           <i class="fa-solid fa-star"></i>
           <i class="fa-solid fa-star"></i>
           <div class="icon">
            <p>$78</p>
            <i class="fa-solid fa-cart-shopping"></i>
           </div>
        </div>
    </div>
</div>
    <!-- model -->
</div>
<div id="page3">
    <div id="main-page">
        <div class="child2">
            <img src="https://github.com/tech2etc/Build-and-Deploy-Ecommerce-Website/blob/main/img/banner/b17.jpg?raw=true" alt="">
             <div class="slider">
            <h4>Crazy Deals</h4>
            <h1>Buy 1 Get 1 Free</h1>
            <p>The best classic dress is an sale at cara</p>
            <button>Learn More</button>
            </div>
        </div>
        <div class="child3">
            <img src="https://github.com/tech2etc/Build-and-Deploy-Ecommerce-Website/blob/main/img/banner/b10.jpg?raw=true" alt="">
            <div class="slider1">
                <h4>spring/summer</h4>
                <h1>Upcoming season</h1>
                <p>The best classic dress is an sale at cara</p>
                <button>Collection</button>
                </div>
        </div>
    </div>
    <div id="part2">
        <div class="img">
            <img src="https://github.com/tech2etc/Build-and-Deploy-Ecommerce-Website/blob/main/img/banner/b7.jpg?raw=true" alt="">
             <div class="center">
            <h2>Sessional Sell</h2>
            <p>Winter Collection-50% OFF</p>
            </div>
        </div>
        <div class="img">
            <img src="https://github.com/tech2etc/Build-and-Deploy-Ecommerce-Website/blob/main/img/banner/b18.jpg?raw=true" alt="">
            <div class="center">
                <h2>T-shirts</h2>
                <p>New Trendy prints</p>
                </div>
        </div>
        <div class="img">
            <img src="https://github.com/tech2etc/Build-and-Deploy-Ecommerce-Website/blob/main/img/banner/b4.jpg?raw=true" alt="">
            <div class="center">
                <h2>NEW FOOTWEAR Collection</h2>
                <p>Spring/Summer 2022</p>
                </div>
        </div>
    </div>
</div>
<!-- footer -->
<div id="footer">
    <div id="foot">
        <img src="https://github.com/tech2etc/Build-and-Deploy-Ecommerce-Website/blob/main/img/logo.png?raw=true" alt="">
        <h3>Contact</h3>
        <p>Address:<span>562 Wellington Road-street 32 san Francisco</span></p>
        <p>Phone:<span>+01 2222 365/(+91)0123456789</span></p>
        <p>Hours:<span>10:00-18:00.Mon-sat</span></p>
        <div id="mainline">
        <h4>Follow Us</h4>
        <i class="fa-brands fa-facebook-f"></i>
        <i class="fa-brands fa-twitter"></i>
        <i class="fa-brands fa-instagram"></i>
        <i class="fa-brands fa-telegram"></i>
        <i class="fa-brands fa-youtube"></i>
        </div>
    </div>
    <div id="foot2">
        <h3>About</h3>
        <p>About us</p>
        <p>Delivery information</p>
        <p>Privacy Policy</p>
        <p>Terms & Conditions</p>
        <p>Contact Us</p>
    </div>
    <div id="foot2">
        <h3>My Account</h3>
        <p>Sign in</p>
        <p>View Cart</p>
        <p>My wishlist</p>
        <p>Track My Order</p>
        <p>Help</p>
    </div>
    <div id="foot3">
        <h3>Install App</h3>
        <p>from App Store or Google play</p>
        <div class="img2">
            <div id="img3">
            <img src="https://github.com/tech2etc/Build-and-Deploy-Ecommerce-Website/blob/main/img/pay/app.jpg?raw=true" alt="">
            <img src="https://github.com/tech2etc/Build-and-Deploy-Ecommerce-Website/blob/main/img/pay/play.jpg?raw=true" alt="">
              </div>
            <p>Secured payment Gateway</p>
            <img src="https://github.com/tech2etc/Build-and-Deploy-Ecommerce-Website/blob/main/img/pay/pay.png?raw=true" alt="" id="tag">
        </div>
    </div>
</div>
<!-- footer -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.2/gsap.min.js" integrity="sha512-16esztaSRplJROstbIIdwX3N97V1+pZvV33ABoG1H2OyTttBxEGkTsoIVsiP1iaTtM8b3+hu2kB6pQ4Clr5yug==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.2/ScrollTrigger.min.js" integrity="sha512-Ic9xkERjyZ1xgJ5svx3y0u3xrvfT/uPkV99LBwe68xjy/mGtO+4eURHZBW2xW4SZbFrF1Tf090XqB+EVgXnVjw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="javascripts/script.js"></script>
<%- include('partial/footer') %>
