<%- include('partial/header') %>
<link rel="stylesheet" href="stylesheets/shop.css">
<%- include('partial/nav') %>
<div id="main">

    <img src="https://github.com/tech2etc/Build-and-Deploy-Ecommerce-Website/blob/main/img/banner/b1.jpg?raw=true" alt="">
     <div id="slide">
    <h1>#stayhome</h1>
     <p>save more with coupons & up to 70% off!</p>
    </div>
</div>
<!-- image -->
<div id="page1">
<div id="muskan">
    <a href="/img">
    <div class="child1">
        <img src="https://github.com/tech2etc/Build-and-Deploy-Ecommerce-Website/blob/main/img/products/f1.jpg?raw=true" alt="">
       <p>adidas</p>
       <h4>Cartoon Astronut T-shirts</h4>
       <i class="fa-solid fa-star"></i>
       <i class="fa-solid fa-star"></i>
       <i class="fa-solid fa-star"></i>
       <i class="fa-solid fa-star"></i>
       <i class="fa-solid fa-star"></i>
       <div class="icon">
        <p>$78</p>
        <i class="fa-solid fa-cart-shopping"></i>
       </div>
    </div>
    </a>
    <!-- new -->
    <div class="child1">
        <img src="https://github.com/tech2etc/Build-and-Deploy-Ecommerce-Website/blob/main/img/products/f2.jpg?raw=true" alt="">
       <p>adidas</p>
       <h4>Cartoon Astronut T-shirts</h4>
       <i class="fa-solid fa-star"></i>
       <i class="fa-solid fa-star"></i>
       <i class="fa-solid fa-star"></i>
       <i class="fa-solid fa-star"></i>
       <i class="fa-solid fa-star"></i>
       <div class="icon">
        <p>$78</p>
        <i class="fa-solid fa-cart-shopping"></i>
       </div>
    </div>
    <!--  -->
    <div class="child1">
        <img src="https://github.com/tech2etc/Build-and-Deploy-Ecommerce-Website/blob/main/img/products/f3.jpg?raw=true" alt="">
       <p>adidas</p>
       <h4>Cartoon Astronut T-shirts</h4>
       <i class="fa-solid fa-star"></i>
       <i class="fa-solid fa-star"></i>
       <i class="fa-solid fa-star"></i>
       <i class="fa-solid fa-star"></i>
       <i class="fa-solid fa-star"></i>
       <div class="icon">
        <p>$78</p>
        <i class="fa-solid fa-cart-shopping"></i>
       </div>
    </div>
    <!--  -->
    <div class="child1">
        <img src="https://github.com/tech2etc/Build-and-Deploy-Ecommerce-Website/blob/main/img/products/f4.jpg?raw=true" alt="">
       <p>adidas</p>
       <h4>Cartoon Astronut T-shirts</h4>
       <i class="fa-solid fa-star"></i>
       <i class="fa-solid fa-star"></i>
       <i class="fa-solid fa-star"></i>
       <i class="fa-solid fa-star"></i>
       <i class="fa-solid fa-star"></i>
       <div class="icon">
        <p>$78</p>
        <i class="fa-solid fa-cart-shopping"></i>
       </div>
    </div>
    <!--  -->
</div>
<!-- new -->
<div id="munir">
    <div class="child1">
        <img src="https://github.com/tech2etc/Build-and-Deploy-Ecommerce-Website/blob/main/img/products/f5.jpg?raw=true" alt="">
       <p>adidas</p>
       <h4>Cartoon Astronut T-shirts</h4>
       <i class="fa-solid fa-star"></i>
       <i class="fa-solid fa-star"></i>
       <i class="fa-solid fa-star"></i>
       <i class="fa-solid fa-star"></i>
       <i class="fa-solid fa-star"></i>
       <div class="icon">
        <p>$78</p>
        <i class="fa-solid fa-cart-shopping"></i>
       </div>
    </div>
    <!--  -->
    <div class="child1">
        <img src="https://github.com/tech2etc/Build-and-Deploy-Ecommerce-Website/blob/main/img/products/f6.jpg?raw=true" alt="">
       <p>adidas</p>
       <h4>Cartoon Astronut T-shirts</h4>
       <i class="fa-solid fa-star"></i>
       <i class="fa-solid fa-star"></i>
       <i class="fa-solid fa-star"></i>
       <i class="fa-solid fa-star"></i>
       <i class="fa-solid fa-star"></i>
       <div class="icon">
        <p>$78</p>
        <i class="fa-solid fa-cart-shopping"></i>
       </div>
    </div>
    <!--  -->
    <div class="child1">
        <img src="https://github.com/tech2etc/Build-and-Deploy-Ecommerce-Website/blob/main/img/products/f7.jpg?raw=true" alt="">
       <p>adidas</p>
       <h4>Cartoon Astronut T-shirts</h4>
       <i class="fa-solid fa-star"></i>
       <i class="fa-solid fa-star"></i>
       <i class="fa-solid fa-star"></i>
       <i class="fa-solid fa-star"></i>
       <i class="fa-solid fa-star"></i>
       <div class="icon">
        <p>$78</p>
        <i class="fa-solid fa-cart-shopping"></i>
       </div>
    </div>
    <!--  -->
    <div class="child1" >
        <img src="https://github.com/tech2etc/Build-and-Deploy-Ecommerce-Website/blob/main/img/products/f8.jpg?raw=true" alt=""> 
       <p>adidas</p>
       <h4>Cartoon Astronut T-shirts</h4>
       <i class="fa-solid fa-star"></i>
       <i class="fa-solid fa-star"></i>
       <i class="fa-solid fa-star"></i>
       <i class="fa-solid fa-star"></i>
       <i class="fa-solid fa-star"></i>
       <div class="icon">
        <p>$78</p>
        <i class="fa-solid fa-cart-shopping"></i>
       </div>
    </div>
</div>
</div>
<div id="munir">
        
    <a href="/image">
    <div class="child1">
        
            <img src="https://github.com/tech2etc/Build-and-Deploy-Ecommerce-Website/blob/main/img/products/n5.jpg?raw=true" alt="">
        
       <p>adidas</p>
       <h4>Cartoon Astronut T-shirts</h4>
       <i class="fa-solid fa-star"></i>
       <i class="fa-solid fa-star"></i>
       <i class="fa-solid fa-star"></i>
       <i class="fa-solid fa-star"></i>
       <i class="fa-solid fa-star"></i>
       <div class="icon">
        <p>$78</p>
        <i class="fa-solid fa-cart-shopping"></i>
       </div>
    </div>
</a>
    <!--  -->
    <div class="child1">
        <img src="https://github.com/tech2etc/Build-and-Deploy-Ecommerce-Website/blob/main/img/products/n6.jpg?raw=true" alt="">
       <p>adidas</p>
       <h4>Cartoon Astronut T-shirts</h4>
       <i class="fa-solid fa-star"></i>
       <i class="fa-solid fa-star"></i>
       <i class="fa-solid fa-star"></i>
       <i class="fa-solid fa-star"></i>
       <i class="fa-solid fa-star"></i>
       <div class="icon">
        <p>$78</p>
        <i class="fa-solid fa-cart-shopping"></i>
       </div>
    </div>
    <!--  -->
    <div class="child1">
        <img src="https://github.com/tech2etc/Build-and-Deploy-Ecommerce-Website/blob/main/img/products/n7.jpg?raw=true" alt="">
       <p>adidas</p>
       <h4>Cartoon Astronut T-shirts</h4>
       <i class="fa-solid fa-star"></i>
       <i class="fa-solid fa-star"></i>
       <i class="fa-solid fa-star"></i>
       <i class="fa-solid fa-star"></i>
       <i class="fa-solid fa-star"></i>
       <div class="icon">
        <p>$78</p>
        <i class="fa-solid fa-cart-shopping"></i>
       </div>
    </div>
    <!--  -->
    <div class="child1" >
        <img src="https://github.com/tech2etc/Build-and-Deploy-Ecommerce-Website/blob/main/img/products/n8.jpg?raw=true" alt="">
       <p>adidas</p>
       <h4>Cartoon Astronut T-shirts</h4>
       <i class="fa-solid fa-star"></i>
       <i class="fa-solid fa-star"></i>
       <i class="fa-solid fa-star"></i>
       <i class="fa-solid fa-star"></i>
       <i class="fa-solid fa-star"></i>
       <div class="icon">
        <p>$78</p>
        <i class="fa-solid fa-cart-shopping"></i>
       </div>
    </div>
</div>
</div>
<!-- new -->
<div id="muskan">
    <div class="child1">
        <img src="https://github.com/tech2etc/Build-and-Deploy-Ecommerce-Website/blob/main/img/products/n1.jpg?raw=true" alt="">
       <p>adidas</p>
       <h4>Cartoon Astronut T-shirts</h4>
       <i class="fa-solid fa-star"></i>
       <i class="fa-solid fa-star"></i>
       <i class="fa-solid fa-star"></i>
       <i class="fa-solid fa-star"></i>
       <i class="fa-solid fa-star"></i>
       <div class="icon">
        <p>$78</p>
        <i class="fa-solid fa-cart-shopping"></i>
       </div>
    </div>
    <!-- new -->
    <div class="child1">
        <img src="https://github.com/tech2etc/Build-and-Deploy-Ecommerce-Website/blob/main/img/products/n2.jpg?raw=true" alt="">
       <p>adidas</p>
       <h4>Cartoon Astronut T-shirts</h4>
       <i class="fa-solid fa-star"></i>
       <i class="fa-solid fa-star"></i>
       <i class="fa-solid fa-star"></i>
       <i class="fa-solid fa-star"></i>
       <i class="fa-solid fa-star"></i>
       <div class="icon">
        <p>$78</p>
        <i class="fa-solid fa-cart-shopping"></i>
       </div>
    </div>
    <!--  -->
    <div class="child1">
        <img src="https://github.com/tech2etc/Build-and-Deploy-Ecommerce-Website/blob/main/img/products/n3.jpg?raw=true" alt="">
       <p>adidas</p>
       <h4>Cartoon Astronut T-shirts</h4>
       <i class="fa-solid fa-star"></i>
       <i class="fa-solid fa-star"></i>
       <i class="fa-solid fa-star"></i>
       <i class="fa-solid fa-star"></i>
       <i class="fa-solid fa-star"></i>
       <div class="icon">
        <p>$78</p>
        <i class="fa-solid fa-cart-shopping"></i>
       </div>
    </div>
    <!--  -->
    <div class="child1">
        <img src="https://github.com/tech2etc/Build-and-Deploy-Ecommerce-Website/blob/main/img/products/n4.jpg?raw=true" alt="">
       <p>adidas</p>
       <h4>Cartoon Astronut T-shirts</h4>
       <i class="fa-solid fa-star"></i>
       <i class="fa-solid fa-star"></i>
       <i class="fa-solid fa-star"></i>
       <i class="fa-solid fa-star"></i>
       <i class="fa-solid fa-star"></i>
       <div class="icon">
        <p>$78</p>
        <i class="fa-solid fa-cart-shopping"></i>
       </div>
    </div>
    <!--  -->
</div>
<!-- new -->
<div id="munir">
    
    <a href="/image">
    <div class="child1">
        
            <img src="https://github.com/tech2etc/Build-and-Deploy-Ecommerce-Website/blob/main/img/products/n5.jpg?raw=true" alt="">
        
       <p>adidas</p>
       <h4>Cartoon Astronut T-shirts</h4>
       <i class="fa-solid fa-star"></i>
       <i class="fa-solid fa-star"></i>
       <i class="fa-solid fa-star"></i>
       <i class="fa-solid fa-star"></i>
       <i class="fa-solid fa-star"></i>
       <div class="icon">
        <p>$78</p>
        <i class="fa-solid fa-cart-shopping"></i>
       </div>
    </div>
</a>
    <!--  -->
    <div class="child1">
        <img src="https://github.com/tech2etc/Build-and-Deploy-Ecommerce-Website/blob/main/img/products/n6.jpg?raw=true" alt="">
       <p>adidas</p>
       <h4>Cartoon Astronut T-shirts</h4>
       <i class="fa-solid fa-star"></i>
       <i class="fa-solid fa-star"></i>
       <i class="fa-solid fa-star"></i>
       <i class="fa-solid fa-star"></i>
       <i class="fa-solid fa-star"></i>
       <div class="icon">
        <p>$78</p>
        <i class="fa-solid fa-cart-shopping"></i>
       </div>
    </div>
    <!--  -->
    <div class="child1">
        <img src="https://github.com/tech2etc/Build-and-Deploy-Ecommerce-Website/blob/main/img/products/n7.jpg?raw=true" alt="">
       <p>adidas</p>
       <h4>Cartoon Astronut T-shirts</h4>
       <i class="fa-solid fa-star"></i>
       <i class="fa-solid fa-star"></i>
       <i class="fa-solid fa-star"></i>
       <i class="fa-solid fa-star"></i>
       <i class="fa-solid fa-star"></i>
       <div class="icon">
        <p>$78</p>
        <i class="fa-solid fa-cart-shopping"></i>
       </div>
    </div>
    <!--  -->
    <div class="child1" >
        <img src="https://github.com/tech2etc/Build-and-Deploy-Ecommerce-Website/blob/main/img/products/n8.jpg?raw=true" alt="">
       <p>adidas</p>
       <h4>Cartoon Astronut T-shirts</h4>
       <i class="fa-solid fa-star"></i>
       <i class="fa-solid fa-star"></i>
       <i class="fa-solid fa-star"></i>
       <i class="fa-solid fa-star"></i>
       <i class="fa-solid fa-star"></i>
       <div class="icon">
        <p>$78</p>
        <i class="fa-solid fa-cart-shopping"></i>
       </div>
    </div>
</div>
</div>
<!--  -->
</div>
<!-- footer -->
<div id="footer">
    <div id="foot">
        <img src="https://github.com/tech2etc/Build-and-Deploy-Ecommerce-Website/blob/main/img/logo.png?raw=true" alt="">
        <h3>Contact</h3>
        <p>Address:<span>562 Wellington Road-street 32 san Francisco</span></p>
        <p>Phone:<span>+01 2222 365/(+91)0123456789</span></p>
        <p>Hours:<span>10:00-18:00.Mon-sat</span></p>
        <div id="mainline">
        <h4>Follow Us</h4>
        <i class="fa-brands fa-facebook-f"></i>
        <i class="fa-brands fa-twitter"></i>
        <i class="fa-brands fa-instagram"></i>
        <i class="fa-brands fa-telegram"></i>
        <i class="fa-brands fa-youtube"></i>
        </div>
    </div>
    <div id="foot2">
        <h3>About</h3>
        <p>About us</p>
        <p>Delivery information</p>
        <p>Privacy Policy</p>
        <p>Terms & Conditions</p>
        <p>Contact Us</p>
    </div>
    <div id="foot2">
        <h3>My Account</h3>
        <p>Sign in</p>
        <p>View Cart</p>
        <p>My wishlist</p>
        <p>Track My Order</p>
        <p>Help</p>
    </div>
    <div id="foot3">
        <h3>Install App</h3>
        <p>from App Store or Google play</p>
        <div class="img2">
            <div id="img3">
            <img src="https://github.com/tech2etc/Build-and-Deploy-Ecommerce-Website/blob/main/img/pay/app.jpg?raw=true" alt="">
            <img src="https://github.com/tech2etc/Build-and-Deploy-Ecommerce-Website/blob/main/img/pay/play.jpg?raw=true" alt="">
              </div>
            <p>Secured payment Gateway</p>
            <img src="https://github.com/tech2etc/Build-and-Deploy-Ecommerce-Website/blob/main/img/pay/pay.png?raw=true" alt="" id="tag">
        </div>
    </div>
</div>
<!-- footer -->
<%- include('partial/footer') %>